body, html {
    height: 100%;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    display: flex;
    flex-direction: column;

    min-height: 0; /* NEW these are needed */
    min-width: 0; /* NEW */
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.page-header {
    flex-grow: 0;

    width: 100%;
}

.centre {
    flex-grow: 1;

    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}


.middleDiv {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}


.innerMiddleDiv {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}

#networkDiv {
    flex-grow: 1;

    display: flex;
}

.complexViewerSVG{
    flex-grow: 1;
}



.color-key{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}

td {
    vertical-align: middle;
}
.symbolKeyDiv {
    flex-grow: 0;
/*    display: flex;*/
/*    flex-grow: 1;*/
/*    flex-direction: column;*/
/*    width: 300px;*/
/*    max-width: 300px;*/
/*    !**/
/*        background:#ecedf2;*/
/*    *!*/
/*    color: #091D42;*/
    overflow: auto;
/*    min-height: 0; !* NEW *!*/
/*    min-width: 0; !* NEW *!*/
}

/*
div#legendInner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
*/

/*.controls {*/
/*    background-color: #091D42;*/
/*    !*color: #fff;*!*/
/*    !*margin-left: 0;*!*/
/*    */
/*    !*display: flex;*!*/
/*    !*flex-direction: row;*!*/
/*    !*!*flex-grow: 1;*!*!*/
/*    !*flex-shrink: 0;*!*/
/*    !*justify-content: space-between;*!*/
/*    !*align-items: center;*!*/

/*}*/

.logoBar {
flex-grow: 0;

/*    margin-top: 5px;*/
/*    margin-bottom: 5px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-shrink: 0;*/
/*    flex-wrap: wrap;*/
/*    height: 70px;*/
}

.logo {
    margin: auto;
}

img {
    vertical-align: middle;
    /*margin: 3px;*/
}
