body, html {
    height: 100%;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    min-height: 0; /* NEW these are needed, i'm not sure exactly when or why */
    min-width: 0; /* NEW */
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.controls {
    flex: none;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.protein-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.centre {
    flex: auto;

    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}

.middleDiv {
    flex: auto;

    display: flex;
    flex-direction: column;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}

.innerMiddleDiv {
    flex: auto;

    display: flex;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}

#networkDiv {
    flex: auto;

    display: flex;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}

.complexViewerSVG {
    flex: auto;

    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}


.color-key {
    /*max-width: 300px;*/
}

td {
    vertical-align: middle;
}

.legend {
    flex: none;
    overflow: auto;
}

.logo-bar {
    flex: none;
    user-select: none;
}

.logo {
    margin: auto;
}

img {
    vertical-align: middle;
    margin: 3px;
}


@media only screen and (max-width : 1140px) {
    .logo-bar{
        display:none;
    }
}