body, html {
    height: 100%;
}


body, html, select, button {
    font-size: 1em;
}

label {
    vertical-align: top;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    min-height: 0; /* NEW these are needed, i'm not sure exactly when or why */
    min-width: 0; /* NEW */
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.controls {
    flex: initial;

    display: flex;
    /*flex-wrap: wrap;*/
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
}

.top-bar {
    flex: initial;

    display: flex;
    /*flex-wrap: nowrap;*/
}

.fa-github {
    margin-right: 5px;
}


.protein-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.centre {
    flex: auto;

    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}

.middleDiv {
    flex: auto;

    display: flex;
    flex-direction: column;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}

.innerMiddleDiv {
    flex: auto;

    display: flex;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}

#networkDiv {
    flex: auto;

    display: flex;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}

.complexViewerSVG {
    flex: auto;

    min-height: 0; /* NEW */
    min-width: 0; /* NEW */
}

.colors {
    max-width: 400px;
}

td {
    vertical-align: middle;
}

.legend {
    flex: initial;
    overflow: auto;
}

.logo-bar {
    flex: initial;
    user-select: none;
}

.logo {
    margin: auto;
}

img {
    vertical-align: middle;
    margin: 3px;
}


@media only screen and (max-width : 1140px) {
    body, html, select, button {
        font-size: 0.8em;
    }

    img {
        height: 50%;
    }

    .color-key {
        max-width: 150px;
    }

    .legend table tr td:first-of-type{
        max-width: 60px;
    }

    /*.color-key tr td:first-of-type {*/
    /*    width:60px;*/
    /*}*/

    .logo-bar{
        display:none;
    }

    .protein-expand-label{
        display:none;
    }

    select{
        max-width: 150px;
    }
}