@charset "UTF-8";
@import url("font-awesome.min.css");

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/lato/bold/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lato/bold/Lato-Bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato/bold/Lato-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/lato/bold/Lato-Bold.svg#svgLato-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/lato/regular/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lato/regular/Lato-Regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato/regular/Lato-Regular.ttf') format('truetype'), /* Safari, Android, iOS  */ url('../fonts/lato/regular/Lato-Regular.svg#svgLato-Regular') format('svg');  /* Legacy iOS */
}

/* Btn */
.btn {
    border: none;
    font-family: inherit;
    color: inherit;
    background: 0 0; /*#091D42;*/
    cursor: pointer;
    /*
        padding: 5px 15px;
    */
    margin: 2px 5px 2px 5px;
    /*
        text-transform: uppercase;
    */
    /*
        letter-spacing: 1px;
    */
    font-weight: 300;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn-1 {
    border: 1px solid #fff;
    color: #fff;
}

.btn-1a:active, .btn-1a:hover {
    color: #091D42;
    background: #fff;
}

/*tables*/
table {
    width: 100%;
    font-size: 0.9em;
    left: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    /*
        background-color: rgba(255, 255, 255, 1);
    */
    text-align: left;
}

thead {
    margin-top: 10px;
    margin-bottom: 10px;
}

th {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    height: 30px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    text-align: left;
}

th:first-child {
    padding-left: 10px;
}

th:last-child {
    padding-right: 10px;
}

td:first-child {
    padding-left: 10px;
}

td:last-child {
    padding-right: 10px;
}

/* fa */

.fa-github {
    font-size: 1.5em;
    /*
        vertical-align:middle;
    */
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.fa-github:hover {
    color: #091D42;
    background: white;
}

/* Common */
body, html {
    background: #fff;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body, input, select, textarea, button {
    Font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
    /*
        font-size: 10pt;
    */
    font-weight: 300;
    line-height: 1.75em;
    color: #091D42;
}

.page-header {
    padding: 10px;
    background-color: #091D42;
    color: #fff;
}

.tableContainer a {
    color: #091D42;
    text-decoration: underline;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.tableContainer a:hover {
    color: #ffffff !important;
    background-color: #091D42;
}


#main {
    /*
        height:100vh;
    */
    width: 100vw;
    /*display: table;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
/ overflow: hidden;
    /*z-index:-1;*/
}

.page-header p {
    display: inline-block;
    padding-right: 1px;
    padding-left: 10px;
}


/*
#networkDiv {
    width:100%;
    height:100%;
    display:block;
}
*/

.bar rect {
    fill: steelblue;
    /*
      shape-rendering: crispEdges;
    */
}

.bar text {
    fill: #fff;
}

.resize path {
    fill: #888;
    stroke: #000;
    stroke-width: 2px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.panelInner th {
    font-weight: 400;
    color: #039;
    height: 30px;
    /*#091D42;*/
}

.panelInner thead td {
    color: #091D42;
}

.panelInner td, .helpPanel td {
    color: #777;
}

.controls {
    margin: 0 10px 10px;
    background: #ecedf2;
    color: #091D42;
    padding: 5px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#colourSelect span {
    margin-right: 0.5em;
}

label.horizontalFlow input[type=number] {
    margin-left: 0.2em;
}

/* See http://jsfiddle.net/7jx02upg/1/ */
label.horizontalFlow input[type=radio], label.horizontalFlow input[type=checkbox] {
    /*vertical-align: normal;*/
}

/* <label class='horizontalFlow'><span class='noBreak'>stuff you dont want split over multiple lines</span></label><more labels n spans...>

/* span.noBreak asks for no line-breaks internally */

span.noBreak select {
    margin-left: 0.5em;
}

/* and then put spaces after labels to give a known place for content to break */

A.btn {
    text-decoration: none;
}

/* For use with Split.js */

.btn:disabled {
    color: gray;
    border-color: gray;
}

