@charset "UTF-8";
@import url("font-awesome.min.css");

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/lato/bold/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lato/bold/Lato-Bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato/bold/Lato-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/lato/bold/Lato-Bold.svg#svgLato-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/lato/regular/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lato/regular/Lato-Regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato/regular/Lato-Regular.ttf') format('truetype'), /* Safari, Android, iOS  */ url('../fonts/lato/regular/Lato-Regular.svg#svgLato-Regular') format('svg');  /* Legacy iOS */
}


body, html {
    background: #fff;
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*user-select: none;*/
}


body, input, select, textarea, button {
    Font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
    /*font-weight: 300;*/
    /*line-height: 1.75em;*/
    /*color: #091D42;*/
}

/* Btn */
.btn {
    border: none;
    font-family: inherit;
    color: inherit;
    background: 0 0; /*#091D42;*/
    cursor: pointer;
    /*margin: 2px 5px 2px 5px;*/
    font-weight: 300;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn-1 {
    border: 1px solid #fff;
    color: #fff;
}

.btn-1a:active, .btn-1a:hover {
    color: #091D42;
    background: #fff;
}

.fa-github {
    /*font-size: 1.5em;*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.fa-github:hover {
    color: #091D42;
    background: white;
}

h1 > a {
    color: #fff;
}


.page-header {
    /*padding: 10px;*/
    background-color: #091D42;
    color: #fff;
}

.page-header p {
    display: inline-block;
    /*padding-right: 1px;*/
    /*padding-left: 10px;*/
}


.page-header h1 {
    color: white;
    text-decoration: underline;
}

.controls {
        background-color: #091D42;
        color: #fff;
    /*padding: 5px 10px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/*select, button {*/
/*    !*font-size: 1em;*!*/
/*}*/

/*b {*/
/*    font-weight: bold;*/
/*}*/


.examples-dropdown {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

h1 {
    /*font-size: 1.6em;*/
    display: inline;
}
