/*you need this to stop horrible looking flickering of text as you drag*/
svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.highlight {
    stroke: #ffff99;
}

.link {
    stroke-linecap: round;
    stroke: black;
}

.certain-link {
    opacity: 0.6;
    stroke-opacity: 0.6;
}

.uncertain-link {
    opacity: 0.2;
    stroke-opacity: 0.6;
}

.link-line {
    stroke-width: 1;
}

.link-highlight {
    stroke-width: 10;
    stroke-opacity: 0;
}

.complex-outline {
    stroke: white;
    stroke-linejoin: round;
    stroke-width: 7;
}

.linked-complex {
    stroke: black;
    stroke-linejoin: round;
    stroke-width: 1;
}

feature-link {
    fill: black;
}

.protein {
    cursor: crosshair;
}

/*todo - seperate out outline*/
.label {
    font-size: 10pt;
    /*font-weight: bold;*/

    /*color: #fff;*/
    /*text-shadow: white 0px 0px 1px;*/
    -webkit-font-smoothing: antialiased;

    /*text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,*/
    /*#fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;*/

    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
       /*-2px -1px 0 white,*/
       /* 2px -1px 0 white,*/
       /* -2px 1px 0 white,*/
       /* 2px 1px 0 white;*/
    fill: black;
    text-anchor: end;
}

.scale-label{
    text-anchor: middle;
}

.tooltip{
    text-anchor: start;
}

.outline {
    stroke: black;
    stroke-width: 1;
    stroke-opacity: 1;
    fill: white;
    fill-opacity: 1;
}

.participant-highlight {
    stroke-width: 5;
    fill: none;
}

/*for protein bar scale*/
.tick {
    stroke: black;
}

.tick-labels {
    font-size: 8pt;
    text-anchor: middle;
}

/*not working right*/
.sequence {
    font-family: 'Courier New', monospace;
    font-size: 10px;
    text-anchor: middle;
}

.custom-menu-margin {
    padding: 20px;
    display: none;
    z-index: 10000;
    position: absolute;
}

.custom-menu {
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    background: #FFF;
    color: #333;
    list-style: none;
    padding: 0;
    margin: 0;
    pointer-events: all;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.barScale {
    display: inline;
    padding-left: 10px;
}

.tooltip-background {
    fill-opacity: 0.75;
    stroke-opacity: 1;
    stroke-width: 1;
}

.tooltip-sub-background {
    fill: white;
    stroke: white;
    opacity: 1;
    stroke-width: 1;
}